﻿@model IEnumerable<Example_04.Models.Class>

@{
    ViewData["Title"] = "Index";
    
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>
<h1 align="center">Danh sách lớp</h1>

<p>
    <a asp-action="Create" > <i class="fa fa-users-class"></i> Thêm lớp  </a> 
</p>
<table class="table" style="border: 1px solid black;border-collapse: collapse;">
    <thead>
    <tr class="table-danger">
        <th>
            @Html.DisplayNameFor(model => model.MaLop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaLop)
        </th>
        <th>Thao tác</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLop)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true" style="font-size: 20px;padding-left: 50px;"></i></a> 
                @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o" aria-hidden="true" style="font-size: 20px; padding-left: 50px;"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>
</body>